{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div>
    <h1>
        All Your Tasks Here
    </h1>
    <a href="{{ url_for('task.create') }}" class="btn btn-primary btn-sm">
        Add New Task
    </a>
</div>
<hr>

<div class="row">
    {% for task in tasks %}
    {% if g.user['id'] == task['author_id'] %}
    <div class="container col-md-5 alert alert-warning">
        <h3 class="text-dark">
            <a class="navbar-brand" href="{{ url_for('task.task_detail', id=task['id']) }}">
                {{ task.title }}
            </a>
        </h3>

        <h4>
            {{ task.body[:20] }}
        </h4>
        <br>

        <h6>
            {{task.finish }}
        </h6>

        {% if task['is_done'] == 0 %}
        <div>
            <a href="{{ url_for('task.update', id=task['id']) }}" class="btn btn-outline-warning btn-sm">
                Update
            </a>
            <a href="{{ url_for('task.done', id=task['id']) }}" class="btn btn-outline-danger btn-sm">
                Done
            </a>
        </div>
        {% else %}
        <h4>Done!</h4>
        <form action="{{ url_for('task.delete', id=task['id']) }}" method="task">
            <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete"
                onclick="return confirm('Are you sure?');">
        </form>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}

</div>

{% endblock content %}
